[submodule "xml3d-jaxb"]
	path = xml3d-jaxb
	url = https://github.com/dfki-asr/xml3d-jaxb.git
	branch = master
[submodule "collada-jaxb"]
	path = collada-jaxb
	url = https://github.com/dfki-asr/collada-jaxb.git
	branch = master
