[submodule "atlas-server"]
	path = atlas-server
	url = ../atlas-server.git
	branch = feature/transform-transport
[submodule "xml3d-jaxb"]
	path = xml3d-jaxb
	url = ../xml3d-jaxb.git
	branch = master
[submodule "collada-jaxb"]
	path = collada-jaxb
	url = ../collada-jaxb.git
	branch = master
[submodule "atlas-worker"]
	path = atlas-worker
	url = ../atlas-worker.git
	branch = feature/mesh-split-flag
